<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Four Guys Mechanics</title>
        
        <link rel="stylesheet" href="./style.css">
        <link rel="stylesheet" href="./jass.css">
        <link rel="stylesheet" href="./login.css">
        <link rel="stylesheet" href="./about.css">
    </head>
    <body>
        <!-- header -->
    <div>
        <h1>Four Guys Mechanics</h1>
        <nav>
            <ul>
                <li>
                    <a>My Appointments</a>
                </li>
                <li>
                    <a>My Cars</a>
                </li>
                <li>
                    <a>Credits</a>
                </li>
            </ul>
        </nav>
    </div>
    {{{ body }}}
    <!-- Javascript links -->
    </body>
</html>