

    <!-- body -->
    <div class="container">
        <!-- Timeblocks go here -->
        <section class="time-block row">

            <label for="hour1" class="hour">9AM</label>
            <div class="field" id="hour1">
                <p>{clientName}</p>
                <p>{clientEmail}</p>
                <p>{contactName}</p>
                <p>{contactTel}</p>
                <p>{ServiceType}</p>
                <p>{carYear}</p>
                <p>{carMake}</p>
                <p>{carModel}</p>
                <p>{carColor}</p>
                <p>{carPlate}</p>
            </div>
            <button class="saveBtn" id="save-btn1">Delete</button>
        </section>
        <section class="time-block row">
            <label for="hour2" class="hour">10AM</label>
            <div id="hour2">
                <p>{clientName}</p>
                <p>{clientEmail}</p>
                <p>{contactName}</p>
                <p>{contactTel}</p>
                <p>{ServiceType}</p>
                <p>{carYear}</p>
                <p>{carMake}</p>
                <p>{carModel}</p>
                <p>{carColor}</p>
                <p>{carPlate}</p>
            </div>
            <button class="saveBtn" id="save-btn2">Delete</button>
        </section>
        <section class="time-block row">
            <label for="hour3" class="hour">11AM</label>
            <div id="hour3">
                <p>{clientName}</p>
                <p>{clientEmail}</p>
                <p>{contactName}</p>
                <p>{contactTel}</p>
                <p>{ServiceType}</p>
                <p>{carYear}</p>
                <p>{carMake}</p>
                <p>{carModel}</p>
                <p>{carColor}</p>
                <p>{carPlate}</p>
            </div>
            <button class="saveBtn" id="save-btn3">Delete</button>
        </section>
        <section class="time-block row">
            <label for="hour4" class="hour">12PM</label>
            <div id="hour4">
                <p>{clientName}</p>
                <p>{clientEmail}</p>
                <p>{contactName}</p>
                <p>{contactTel}</p>
                <p>{ServiceType}</p>
                <p>{carYear}</p>
                <p>{carMake}</p>
                <p>{carModel}</p>
                <p>{carColor}</p>
                <p>{carPlate}</p>
            </div>
            <button class="saveBtn" id="save-btn4">Delete</button>
        </section>
        <section class="time-block row">
            <label for="hour5" class="hour">1PM</label>
            <div id="hour5">
                <p>{clientName}</p>
                <p>{clientEmail}</p>
                <p>{contactName}</p>
                <p>{contactTel}</p>
                <p>{ServiceType}</p>
                <p>{carYear}</p>
                <p>{carMake}</p>
                <p>{carModel}</p>
                <p>{carColor}</p>
                <p>{carPlate}</p>
            </div>
            <button class="saveBtn" id="save-btn5">Delete</button>
        </section>
        <section class="time-block row">
            <label for="hour6" class="hour">2PM</label>
            <div id="hour6">
                <p>{clientName}</p>
                <p>{clientEmail}</p>
                <p>{contactName}</p>
                <p>{contactTel}</p>
                <p>{ServiceType}</p>
                <p>{carYear}</p>
                <p>{carMake}</p>
                <p>{carModel}</p>
                <p>{carColor}</p>
                <p>{carPlate}</p>
            </div>
            <button class="saveBtn" id="save-btn6">Delete</button>
        </section>
        <section class="time-block row">
            <label for="hour7" class="hour">3PM</label>
            <div id="hour7">
                <p>{clientName}</p>
                <p>{clientEmail}</p>
                <p>{contactName}</p>
                <p>{contactTel}</p>
                <p>{ServiceType}</p>
                <p>{carYear}</p>
                <p>{carMake}</p>
                <p>{carModel}</p>
                <p>{carColor}</p>
                <p>{carPlate}</p>
            </div>
            <button class="saveBtn" id="save-btn7">Delete</button>
        </section>
        <section class="time-block row">
            <label for="hour8" class="hour">4PM</label>
            <div id="hour8">
                <p>{clientName}</p>
                <p>{clientEmail}</p>
                <p>{contactName}</p>
                <p>{contactTel}</p>
                <p>{ServiceType}</p>
                <p>{carYear}</p>
                <p>{carMake}</p>
                <p>{carModel}</p>
                <p>{carColor}</p>
                <p>{carPlate}</p>
            </div>
            <button class="saveBtn" id="save-btn8">Delete</button>
        </section>
        <section class="time-block row">
            <label for="hour9" class="hour">5PM</label>
            <div id="hour9">
                <p>{clientName}</p>
                <p>{clientEmail}</p>
                <p>{contactName}</p>
                <p>{contactTel}</p>
                <p>{ServiceType}</p>
                <p>{carYear}</p>
                <p>{carMake}</p>
                <p>{carModel}</p>
                <p>{carColor}</p>
                <p>{carPlate}</p>
            </div>
            <button class="saveBtn" id="save-btn9">Delete</button>
        </section>
    </div>
    <!-- footer -->
    <footer>
        <p>Project Partners: Bossman Samuel Quansah, Brandon Cheung, David Dwight, Chris McHenry</p>
    </footer>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="../controllers/about.js"></script>