
    <!-- body -->
    <aside>
        <form>
            <h2>Add A Car</h2>
            <input placeholder="Year" type="text" id="year-fld">
            <input placeholder="Make" type="text" id="make-fld">
            <input placeholder="Model" type="text" id="model-fld">
            <input placeholder="Color" type="text" id="color-fld">
            <input type="submit" id="submit-btn">
        </form>
        <h2>Appointment List</h2>
        <ul>
            <li>
                <p>...</p>
            </li>
            <li>
                <p>...</p>
            </li>
            <li>
                <p>...</p>
            </li>
        </ul>
    </aside>

    <div>
        <h1>Hello {USER}</h1>

        <div class="card">
            <h3>{carMake} {carModel}</h3>
            <p>Year: {carYear}</p>
            <p>Color: {carColor}</p>
            <p>Miles: {WOMilesLatest}</p>
            <p>Latest Service: {WOTypeLatest}</p>
            <p>Service Date: {WODateLatest}</p>
        </div>
        <div class="card">
            <h3>{carName}</h3>
            <p>Year: {carYear}</p>
            <p>Color: {carColor}</p>
            <p>Miles: {WOMilesLatest}</p>
            <p>Latest Service: {WOTypeLatest}</p>
            <p>Service Date: {WODateLatest}</p>
        </div>
        <div class="card">
            <h3>{carName}</h3>
            <p>Year: {carYear}</p>
            <p>Color: {carColor}</p>
            <p>Miles: {WOMilesLatest}</p>
            <p>Latest Service: {WOTypeLatest}</p>
            <p>Service Date: {WODateLatest}</p>
        </div>
        <div class="card">
            <h3>{carName}</h3>
            <p>Year: {carYear}</p>
            <p>Color: {carColor}</p>
            <p>Miles: {WOMilesLatest}</p>
            <p>Latest Service: {WOTypeLatest}</p>
            <p>Service Date: {WODateLatest}</p>
        </div>
    </div>



    <!-- footer -->
    <footer>
        <p>Project Partners: Bossman Samuel Quansah, Brandon Cheung, David Dwight, Chris McHenry</p>
    </footer>



