
<header class = "header">Four Guys Mechanic Shop</header>
<section class="about">
    <p>
        We provide high quality, convenient and comprehensive auto repair at low cost. It is the goal of our firm to have 100% customer satisfaction in regards to quality, friendliness, time to completion and to discover new ways to exceed the expectations of our clients.
    </p>
    
<section>
<div class="columns">
    <div class="column ">
        <h2 >Login</h2>
        <form class =>
            <div class="buttons">
                <label for="email-login">email:</label>
                <input type="text" id="email-login" />
            </div>
            <div>
                <label for="password-login">password:</label>
                <input type="password" id="password-login" />
            </div>
            <div>
                <button class="button is-success">login</button>
            </div>
        </form>
    </div>
    <div class = "column ">
        <h2 >Signup</h2>
        <form>
            <div class=" buttons">
                <label for="name-signup">name:</label>
                <input type="text" id="name-signup" />
            </div>
            <div>
                <label for="email-signup">email:</label>
                <input type="text" id="email-signup" />
            </div>
            <div>
                <label for="password-signup">password:</label>
                <input type="password" id="password-signup" />
            </div>
            <div class="buttons">
                <button class="button is-success">signup</button>
            </div>
        </form>
    </div>
</div>
